go 1.23.4

toolchain go1.23.4

use (
	./plugins/admission
	./plugins/ci
	./plugins/falco-agent
	./plugins/kube-bench
	./plugins/kube-bench-aggregator
	./plugins/opa
	./plugins/prometheus
	./plugins/rbac-reporter
	./plugins/right-sizer
	./plugins/trivy
	./plugins/workloads
	./realtime-reporter
)
