go 1.22.6

use (
	./plugins/admission
	./plugins/ci
	./plugins/falco-agent
	./plugins/kube-bench
	./plugins/kube-bench-aggregator
	./plugins/opa
	./plugins/rbac-reporter
	./plugins/right-sizer
	./plugins/trivy
	./plugins/workloads
)