version: 2.1

orbs:
  slack: circleci/slack@4.12.5
  rok8s-scripts: fairwinds/rok8s-scripts@12.1.1

commands:
  install_goreleaser_dependencies:
    description: Installs dependencies for CI scripts
    steps:
    - run: apk update
    # gettext provides envsubst
    - run: apk add gettext
    # Register other docker platforms, to build arm64.
    # This shouldn't be needed, why TBD.
    - run: docker run --privileged --rm tonistiigi/binfmt --install all

  set_environment_variables:
    description: Sets environment variables for this job.
    steps:
    - run: ./.circleci/scripts/env.sh

  set_tags:
    description: Figures out which plugins have been changed etc
    steps:
    - run: ./.circleci/set_tags.sh

  set_vault:
    description: Install and configure vault 
    steps:
      - run: ./.circleci/scripts/vault.sh
      - rok8s-scripts/get_vault_env:
          vault_path: repo/global/env

  goreleaser:
    description: Build binaries and build/push docker Images depending on the git branch
    steps:
    - checkout
    - setup_remote_docker:
        version: default
        # Docker Layer Caching saves /var/lib/docker in a persistent volume,
        # for Dockerfiles that use `RUN --mount=type=cache. . .`
        docker_layer_caching: true
    - install_goreleaser_dependencies
    - set_environment_variables
    - set_tags
    - set_vault
    - run:
        name: Build Plugin Docker Images
        command: |
          docker login quay.io -u="${FAIRWINDS_QUAY_USER}" -p="${FAIRWINDS_QUAY_TOKEN}"
          for plugin in "${CHANGED[@]}"; do
            if [ "${plugin}" == "_template" ] ; then
              continue
            fi
            cd ./plugins/$plugin
            ../../scripts/goreleaser.sh
            cd ../..
          done

  check_version_changed:
    description: Check that version.txt changed if folder changed
    steps:
    - set_vault
    - run:
        name: Check version.txt
        command: |
          if [ "$CIRCLE_BRANCH" == "main" ]
          then
            exit 0
          fi
          for plugin in "${CHANGED[@]}"; do
            if git diff --name-only --exit-code origin/main "./plugins/$plugin/version.txt" ; then
              echo "Please update ./plugins/$plugin/version.txt"
              exit 1
            elif ! grep -q "## $(cat ./plugins/$plugin/version.txt)" "./plugins/$plugin/CHANGELOG.md"; then
              echo "Please update ./plugins/$plugin/CHANGELOG.md"
              exit 1
            else
              echo "Update to ./plugins/$plugin/version.txt found"
            fi
          done

executors:
  ci-images:
    docker:
      - image: quay.io/reactiveops/ci-images:v12.0-buster
  goreleaser:
    resource_class: large
    docker:
      # The goreleaser image tag determines the version of Go.
      # Manually check goreleaser images for their version of Go.
      # Ref: https://hub.docker.com/r/goreleaser/goreleaser/tags
      - image: goreleaser/goreleaser:v2.10.0


jobs:
  build_and_push_plugins:
    executor: goreleaser
    steps:
      - checkout
      - set_vault
      - goreleaser
      - slack/notify:
          event: fail
          branch_pattern: main
          template: basic_fail_1

  test:
    docker:
      - image: cimg/go:1.24
    resource_class: large
    steps:
      - checkout
      - set_vault
      - set_environment_variables
      - set_tags
      - run: go install golang.org/x/lint/golint@latest
      - run: |
          for plugin in "${GO_PKGS[@]}"; do
            echo "linting $plugin"
            cd plugins/$plugin
            # TODO: fix lint errors
            # go list ./... | xargs golint -set_exit_status
            cd ../..
          done
      - run: cd plugins/opa ; go test ./... ; cd ../..
      - run: cd plugins/admission ; go test ./... ; cd ../..
      - run: cd plugins/ci ; go test ./... ; cd ../..
      - run: cd plugins/falco-agent ; go test ./...; cd ../..
      - run: cd plugins/trivy ; go test ./... ; cd ../..
      - slack/notify:
          event: fail
          branch_pattern: main
          template: basic_fail_1

  check_version_changed:
    docker:
      - image: cimg/go:1.24
    steps:
      - checkout
      - set_vault
      - set_environment_variables
      - set_tags
      - check_version_changed

  check_versions:
    docker:
      - image: quay.io/reactiveops/ci-images:v11.13.5-alpine
    steps:
      - checkout
      - set_vault
      - set_environment_variables
      - run: ./scripts/check-all-versions.sh
      - slack/notify:
          event: fail
          custom: |
            {
                "text": "One or more versions in insights-plugins are out of date!",
                "blocks": [
                    {
                        "type": "section",
                        "text": {
                            "type": "mrkdwn",
                            "text": "One or more versions in insights-plugins are out of date!\n\n$OUTDATED_VERSIONS_LIST"
                        }
                    }
                ]
            }
      - slack/notify:
          event: pass
          custom: |
            {
                "text": "All versions in insights-plugins are up to date",
                "blocks": [
                    {
                        "type": "section",
                        "text": {
                            "type": "mrkdwn",
                            "text": ":tada: All versions in insights-plugins are up to date!"
                        }
                    }
                ]
            }

  scan_for_vulnerabilities:
    working_directory: /go/src/github.com/fairwindsops/insights-plugins/
    executor: ci-images
    resource_class: large
    steps:
      - checkout
      - set_vault
      - set_environment_variables
      - setup_remote_docker
      - run: ./.circleci/scripts/install-trivy.sh
      - set_tags
      - run:
          name: Scan for vulnerabilities
          command: |
            if [ "$CIRCLE_BRANCH" != "main" ]
            then
              ./scripts/scan-all.sh $CIRCLE_BRANCH "${CHANGED[*]}"
            else
              ./scripts/scan-all.sh
            fi
      - run: |
          if ! git diff --exit-code fairwinds-insights.yaml; then
            echo "Please run `SKIP_TRIVY=true ./scripts/scan-all.sh` to regenerate fairwinds-insights.yaml"
            exit 1
          fi
      - slack/notify:
          event: fail
          branch_pattern: main
          custom: |
            {
                "text": "One or more images in insights-plugins have vulnerabilities",
                "blocks": [
                    {
                        "type": "section",
                        "text": {
                            "type": "mrkdwn",
                            "text": "One or more images in insights-plugins have vulnerabilities!\n\n$VULNERABLE_IMAGES_LIST"
                        }
                    }
                ]
            }
      - slack/notify:
          event: pass
          branch_pattern: main
          custom: |
            {
                "text": "All images in insights-plugins are clean",
                "blocks": [
                    {
                        "type": "section",
                        "text": {
                            "type": "mrkdwn",
                            "text": ":tada: All images in insights-plugins are clean!"
                        }
                    }
                ]
            }

  validate_modified_opa_policies:
    working_directory: /go/src/github.com/fairwindsops/insights-plugins/
    executor: ci-images
    steps:
      - checkout
      - set_vault
      - set_environment_variables
      - setup_remote_docker
      - run: ./.circleci/scripts/install-insights-cli.sh
      - run: ./scripts/validate-modified-opa-policies.sh
      - slack/notify:
          event: fail
          custom: |
            {
                "text": "One or more modified OPA policies in insights-plugins has failed validation",
                "blocks": [
                    {
                        "type": "section",
                        "text": {
                            "type": "mrkdwn",
                            "text": "One or more modified OPA policies in insights-plugins has failed validation!\n\n$FAILED_OPA_POLICIES_MARKDOWN"
                        }
                    }
                ]
            }
      - slack/notify:
          event: pass
          custom: |
            {
                "text": "All modified OPA policies in insights-plugins have passed validation",
                "blocks": [
                    {
                        "type": "section",
                        "text": {
                            "type": "mrkdwn",
                            "text": ":tada: All modified OPA policies in insights-plugins have passed validation!"
                        }
                    }
                ]
            }

  ci_plugin_e2e:
    executor: ci-images
    steps:
      - checkout
      - setup_remote_docker
      - set_vault
      - set_environment_variables
      - set_tags
      - run: ./.circleci/scripts/ci-plugin-e2e-test.sh

workflows:
  version: 2
  release:
    jobs:
      - test
      - check_version_changed
      - validate_modified_opa_policies:
          name: Validate Modified OPA Policies
          requires:
            - test
            - check_version_changed
      - build_and_push_plugins:
          context: org-global
          requires:
            - check_version_changed
          filters:
            branches:
              ignore:
              - /pull\/[0-9]+/
      - rok8s-scripts/kubernetes_e2e_tests:
          name: End-To-End Test on Kubernetes
          requires:
            - build_and_push_plugins
          pre_script: test/plugins-e2e/pre.sh
          script: test/plugins-e2e/ci.sh
          store-artifacts: /workspace/output
      - scan_for_vulnerabilities:
          requires:
            - build_and_push_plugins
      - ci_plugin_e2e:
          requires:
            - build_and_push_plugins
            
  check_vulnerabilities:
    jobs:
      - scan_for_vulnerabilities
      - check_versions
    triggers:
      - schedule:
          cron: "0 12 * * *"
          filters:
            branches:
              only:
                - main

  rebuild:
    triggers:
      - schedule:
          # At 00:00 every day monday-friday
          cron: "0 0 * * 1-5"
          filters:
            branches:
              only:
                - main
    jobs:
      - build_and_push_plugins
      - scan_for_vulnerabilities
